@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	max-width: 100vw;
	background: #333;
	overflow: hidden;

}

.container {
	position: relative;
	width: 600px;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.container .spinBtn {
	position: absolute;
	width: 60px;
	height: 60px;
	background: #fff;
	border-radius: 50%;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-weight: 600;
	color: #333;
	letter-spacing: 0.1em;
	cursor: pointer;
	border: 4px solid rgba(0, 0, 0, 0.75);
	user-select: none;
}

.container .spinBtn::before {
	content: '';
	position: absolute;
	top: -28px;
	width: 20px;
	height: 30px;
	background: #fff;
	clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
}

.container .wheel {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 0 0 5px #333, 0 0 0 15px #fff, 0 0 0 18px #111;
	transition: transform 3s ease-in-out;
	rotate: 28deg;
}

.container .wheel .number {
	position: absolute;
	width: 50%;
	height: 50%;
	background: var(--clr);
	transform-origin: bottom right;
	transform: rotate(calc(17.142857deg * var(--i)));
	clip-path: polygon(0 0, 25% 0, 100% 100%, 0 25%);
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	cursor: normal;
}

.container .wheel .number span {
	position: absolute;
	left: 60%;
	top: 60%;
	transform: translate(-50%, -50%) rotate(45deg);
	font-size: 1em;
	font-weight: 700;
	color: #fff;
	text-shadow: 3px 5px 2px rgba(0, 0, 0, 0.15);
	z-index: 2;
}

.container .wheel .number .belt {
	position: absolute;
	top: 35%;
	left: 30%;
	transform: rotate(-45deg);
	z-index: 1;
}

.container .wheel .number .belt img {
	width: 60px;
	height: auto;
	object-fit: contain;
}


.container .wheel .highlight {
	width: 50%;
	height: 50%;
	clip-path: polygon(0 0, 45% 0, 100% 100%, 0 45%);
	z-index: 9;
	transition: all 3s ease-in-out;
}

.container .wheel .highlight span {
	color: gold;
	font-size: 1.5em;
	transition: all 3s ease-in-out;
}

.container .wheel .highlight .belt {
	top: 35%;
	left: 25%;
	transition: all 3s ease-in-out;
}

.container .wheel .highlight .belt img {
	width: 100px;
	transition: all 3s ease-in-out;
}

.resultContainer {
	display: flex;
	width: 100%;
	justify-content: center;
	padding-top: 25px;
	cursor: normal;
}

.resultContainer #resultText {
	font-size: 1.5em;
	font-weight: 600;
	color: #fff;
	text-shadow: 3px 5px 2px rgba(0, 0, 0, 0.15);
	text-align: center;
	width: 100%;
}




/* .container .wheel .number span::after {
	content: '$';
	position: absolute;
	font-size: 0.75em;
	font-weight: 500;
} */

@media (max-width: 600px) {
	.container {
		width: 400px;
		height: 400px;
	}

	.container .spinBtn {
		width: 40px;
		height: 40px;
		font-size: 0.65em;
	}

	.container .spinBtn::before {
		top: -18px;
		width: 10px;
		height: 15px;
	}

	.container .wheel .number span {
		font-size: 0.60em;
	}

	.container .wheel .highlight span {
		font-size: 0.80em;
	}

	.container .wheel .number .belt {
		top: 35%;
		left: 32%;
	}

	.container .wheel .number .belt img {
		width: 35px;
	}

	.container .wheel .highlight .belt {
		top: 35%;
		left: 25%;
		transition: all 3s ease-in-out;
	}

	.container .wheel .highlight .belt img {
		width: 55px;
		transition: all 3s ease-in-out;
	}

	.resultContainer #resultText {
		font-size: 1.3em;
	}

}

@media (max-width: 400px) {
	.container {
		width: 320px;
		height: 320px;
	}

	.container .spinBtn {
		width: 30px;
		height: 30px;
		font-size: 0.45em;
	}

	.container .spinBtn::before {
		top: -13px;
		width: 8px;
		height: 10px;
	}

	.container .wheel .number span {
		font-size: 0.55em;
	}

	.container .wheel .highlight span {
		color: gold;
		font-size: 0.57em;
		transition: all 3s ease-in-out;
	}

	.container .wheel .number .belt img {
		width: 25px;
	}

	.container .wheel .highlight .belt {
		top: 35%;
		left: 30%;
		transition: all 3s ease-in-out;
	}

	.container .wheel .highlight .belt img {
		width: 40px;
		transition: all 3s ease-in-out;
	}

	.resultContainer #resultText {
		font-size: 1.0em;
	}
}